.my-flag{
    width: 50px;
    height: 25px;
}
.my-square{
    width: 400px;
    height: 200px;
}
.my-square:hover{
    border: 4px solid black !important;
}
h4.position-absolute{
    top: 10px;
    left: 10px;
}
body {
    background-color: #f5f5f5;
}
